body  {
    display: flex;
    margin:0;
    padding:0;
    border:0;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    }

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    box-sizing: border-box;
    padding:8px;
    flex:1;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

#header-quicklinks {
    display: flex;
    list-style-type:none;
    color:white;
    gap:20px;
    
}
.signup-section {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 40px;
}

.signup-text {
    display: flex;
    flex-direction: column;
    color:white;
}

#signup-button {
    background-color: #3882f6;
    color: white;
    text-align: center;
    padding:10px;
    text-decoration: none;
    border-radius: 10px;
    align-self: flex-start;
    border: 0;
    font-weight: bold;
   
}
#people-img {
    box-sizing: border-box;
    
}

.random-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigger-compartment {
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}
.compartment{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 110px;
    text-align: center;
}

.text-wrap {
    width:100px;
    text-align: center;
}
.container {
    border:5px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius:10px;

}