@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body  {
    display: flex;
    margin:0;
    padding:0;
    border:0;
    flex-direction: column;
    font-family: "Roboto";
    }

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    box-sizing: border-box;
    padding:8px;
    flex:1;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

#header-quicklinks {
    display: flex;
    list-style-type:none;
    color:white;
    gap:20px;
    
}
.signup-section {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 40px;
}

.signup-text {
    display: flex;
    flex-direction: column;
    color:white;
}
.signup-button-header,.signup-button-cta {
    background-color: #3882f6;
    color: white;
    text-align: center;
    padding:10px;
    text-decoration: none;
    border-radius: 5px;
}
.signup-button-header {
    
    align-self: flex-start;
    border: 0;
    font-weight: bold;
   
}
.signup-button-cta {
    border-color: white;
}
#people-img {
    box-sizing: border-box;
    
}

.random-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigger-compartment {
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}
.compartment{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 110px;
    text-align: center;
}

.text-wrap {
    width:100px;
    text-align: center;
}
.container {
    border:5px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius:10px;
}
.quote{
    box-sizing: border-box;
    background-color:#E5E7EB;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    padding:50px;
}
.quote-text{
    font-size:36px;
    padding:100px;
    font-weight: 300;
}
.author{
    font-weight: 600;
    font-size:25px;
    align-self: flex-end;
}

.call-to-action {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    box-sizing: border-box;
    margin:200px;
    border:30px solid #3882f6;
    border-radius:20px;
    color: white;
}
.footer{
    background-color: #1F2937;
    padding:8px;
    color: white;
    text-align: center;
    display: flex;
    flex-shrink: 0;
}